SPRING_MONGODB_URI=mongodb://localhost:27017/dropbox_clone
APP_STORAGE_ENDPOINT=http://localhost:9000
APP_STORAGE_ACCESS_KEY=minioadmin
APP_STORAGE_SECRET_KEY=minioadmin
APP_STORAGE_BUCKET=dropbox-clone
APP_STORAGE_REGION=us-east-1
APP_AUTH_JWT_SECRET=VGhpcy1pcy1hLWRldmVsb3BtZW50LW9ubHktand0LXNlY3JldC1mb3ItZHJvcGJveC1jbG9uZQ==
APP_AUTH_JWT_ACCESS_TOKEN_TTL_SECONDS=3600
APP_AUTH_JWT_ISSUER=dropbox-clone-backend
APP_SQS_ENDPOINT=http://localhost:9324
APP_SQS_QUEUE_URL=http://localhost:9324/000000000000/s3-object-created
APP_SQS_ACCESS_KEY=x
APP_SQS_SECRET_KEY=x