SPRING_MONGODB_URI=mongodb://localhost:27017/dropbox_clone
APP_STORAGE_ENDPOINT=http://localhost:9000
APP_STORAGE_ACCESS_KEY=minioadmin
APP_STORAGE_SECRET_KEY=minioadmin
APP_STORAGE_BUCKET=dropbox-clone
APP_STORAGE_REGION=us-east-1
